@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poiret+One&display=swap');

:root {
--text: #f2f2f2;
--background: #26262c;
--primary: #5d37a4;
--secondary: #1b1b22;
--accent: #845fc4;
}

body {
    background-color: var(--background);
    height: 100vh;
    color: var(--text);
}

h1, h2 {
    font-family: 'Poiret One', sans-serif;
    color: var(--text)
}

h3, h4, h5, p {
    font-family: 'Montserrat', sans-serif;
}

.title{
    color: var(--text);
}

.hero {
    box-shadow: 0px 4px 21px 10px rgba(0, 0, 0, 0.25);
}

.button {
    background-color: var(--primary);
    border: none;
    margin-bottom: 10px;
    color: var(--text)
}

.image-container {
    height: 40x;
}

#luna-image{
    max-height: 50px;
    display: block;
}

#logo-container{
    margin-left: 0;
}