@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poiret+One&display=swap');


:root {
--text: #f2f2f2;
--background: #26262c;
--primary: #5d37a4;
--secondary: #1b1b22;
--accent: #845fc4;
}

body {
    background-color: var(--background);
    height: 100vh;
    color: var(--text);
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Poiret One', sans-serif;
    color: var(--text)
}

h3, h4, h5, p {
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-size: large;
}

.title{
    color: var(--text);
}

.hero {
    box-shadow: 0px 4px 21px 10px rgba(0, 0, 0, 0.25);
}

.section{
    overflow-x: visible;
}

.button {
    background-color: var(--primary);
    border: none;
    margin-bottom: 10px;
    color: var(--text)
}

.image-container {
    height: 40x;
}

.container {
    overflow-x: visible;
}

#main-row {
    overflow-x: visible;
}

#luna-image{
    max-height: 50px;
    display: block;
}

#logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#info-header{
    background-color: rgba(242, 242, 242, .1);
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin-bottom: 50px;
    text-align: center;

}

/* calendar styling */
.datetimepicker-header.is-date-only{
    display: none;
}

.datetimepicker.is-primary .datepicker-nav {
    background: #26262c!important;
    color: #fff;
}

.datepicker-body .datepicker-dates .datepicker-days .datepicker-date.date-item {
    background-color: #26262c!important;
    color: #fff;
}

.datetimepicker.is-primary .datepicker-body  .datepicker-date .date-item.is-today {
    color: var(--primary)!important;    
    border: 2px dotted  #5d37a4;
    border-color:  #5d37a4!important;  
}

/* button.date-item:hover { 
    border-color:  #5d37a4; 
} */

.datepicker-range {
    background-color: #5d37a4!important;
    color: white;
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range .date-item {
    background-color: #845fc4!important;  
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range.datepicker-range-end .date-item {
    border-color: white;
    color: white;
}

.datetimepicker-selection-day {
    color: var(--primary)!important; 
}

.datepicker-dates.date-item-selection.isactive {
    background-color: #5d37a4!important;
}

button.date-item.is-active {
    background-color: #5d37a4!important;
    color: white;
}

button.date-item.datepicker.date.is-current-month.datepicker-range {
    background-color: #5d37a4!important;
    color: white;
}


.has-text-danger {
    color: var(--primary)!important;
}

.has-text-warning {
    color: var(--accent)!important;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 2000px;
    }
}
